html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.custom-navbar-height {
    height: 150px;
}

.box-container {
    height: 300px;
    width: 100%;
}

.table-bordered.border-danger,
.table-bordered.border-danger th,
.table-bordered.border-danger td {
    border: 2px solid red !important;
}

.table td, .table th {
    height: 50px;
}

/* Add some spacing between boxes */
.row > div {
    padding: 0 15px;
}

@media (max-width: 576px) {
    .box-container {
        margin-bottom: 30px;
    }
}