@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

h1 {
    text-align: center;
    color: rgb(236, 51, 51);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    text-align: center;
    color: rgb(236, 51, 51);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(12,12,12,0.8632703081232493) 35%);
}
#nav {
    text-align: center;
    font-size: large;
    margin:0 auto;
    width: 85%;
    border: 7px solid grey;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    
  
}

      
.footer {
    text-align: center;
    border: 7px solid grey;
    background-color: white;
    margin:0 auto;
    width: 90%;
    border-radius: 20px;
}
.hide{
    display: none;
}

#bio, #education, #hobbies{
    margin: 0 auto;
    width: 85%;
    padding: 20px;
    border: 7px solid grey;
    background-color: white;
    border-radius: 20px;

    
}
#education{
    background-image: url("C:/Users/andyh/OneDrive/Desktop/SE137/w2/images/School.jpg");
    background-size: contain;
}
#hobbies{
    background-image: url("C:/Users/andyh/OneDrive/Desktop/SE137/w2/images/hobbies.png");
    background-size: contain;
    

}
img{
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
li{
    font-size: large;
    font-family: "Comfortaa", sans-serif;
}
ol{
    border: 3px solid grey;
    background-color: grey;
}
.buttons{
    width:130px;
    background-color: rgb(72, 70, 70);
    padding: 15px;
    height:50px;
    margin-left:35px;
    margin-right:35px;
    text-decoration:none;
    font-size:20px;
    text-align:center;
    justify-content: center;
    line-height:50px;
    
    
    color: rgb(236, 51, 51);

    box-shadow: 0 0 8px black;

    border-radius:20px;
}


a:hover, a:active{
    background-color: yellow;
    color: rgb(0, 0, 0);
    transition: all 0.5s;
}

#education a{
    border: 3px solid grey;
    background-color: grey;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: underline;
}

p{
    font-family: "Comfortaa", sans-serif;
}