@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*
div{
    width:200px;
    height:200px;
    background-color:yellow;
    padding:0 20px 10px 50px;
    margin-left:20px;
    margin-right: 20px;
    border:10px solid black;
   

}

#one{
   box-sizing: content-box;
}

#two{
    box-sizing: border-box;
}
*/

/*
a{
    display:inline-block;
    padding:20px;
    background-color: aqua;
    border-radius: 10px;
    margin-right: 20px;
    width: 200px;
    height: 100px;
    overflow: hidden;
}
*/
html{}
body{}
main{
    width: 826px;
    background-color: white;
    display: grid;
    grid-template-rows: 73px auto 45px;

}
header{
    background-color: rgb(175, 175, 175);
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
}
h1{
    margin:13px 0 0 43px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}
nav{
    text-align: right;
   
}
nav a{}
nav a:link, nav a:visited{}
nav a:hover{}
section{
    display:grid;
    grid-template-areas: 
    "farts farts"
    "img text";
    margin:20px;
}
section h2{
    grid-area: farts;
}
section img{
    grid-area: img;
}
section p{
    grid-area: text;
    margin-left: 20px;
}
section img{}
footer{}
